In [1]:
import pandas as pd

In [2]:
cars = pd.read_csv(r"F:\Computer Courses\DataScience\cars.csv", index_col=False)

n=5

# see first n rows 
cars.head(n)

# see last n rows
cars.tail(n)

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.9,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.5,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.5,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.6,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.6,1,1,4,2

In [3]:
type(cars)

pandas.core.frame.DataFrame

Getting a single row -> belongs to *Series* datatype

In [4]:
print(cars.mpg.head(10))
type(cars.mpg)

0    21.0
1    21.0
2    22.8
3    21.4
4    18.7
5    18.1
6    14.3
7    24.4
8    22.8
9    19.2
Name: mpg, dtype: float64

pandas.core.series.Series

### Changing data type

In [5]:
cars.mpg = cars.mpg.astype(str)

In [6]:
cars.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  32 non-null     object
 1   mpg         32 non-null     object
 2   cyl         32 non-null     int64
 3   disp        32 non-null     float64
 4   hp          32 non-null     int64
 5   drat        32 non-null     float64
 6   wt          32 non-null     float64
 7   qsec        32 non-null     float64
 8   vs          32 non-null     int64
 9   am          32 non-null     int64
 10  gear        32 non-null     int64
 11  carb        32 non-null     int64
dtypes: float64(4), int64(6), object(2)
memory usage: 3.1+ KB

### Basic math functions

In [7]:
# mean
cars.mean()

cyl       6.187500
disp    230.721875
hp      146.687500
drat      3.596563
wt        3.217250
qsec     17.848750
vs        0.437500
am        0.406250
gear      3.687500
carb      2.812500
dtype: float64

In [8]:
# median
cars.median()

mpg      19.200
cyl       6.000
disp    196.300
hp      123.000
drat      3.695
wt        3.325
qsec     17.710
vs        0.000
am        0.000
gear      4.000
carb      2.000
dtype: float64

In [9]:
# standard deviation
cars.std()

cyl       1.785922
disp    123.938694
hp       68.562868
drat      0.534679
wt        0.978457
qsec      1.786943
vs        0.504016
am        0.498991
gear      0.737804
carb      1.615200
dtype: float64

In [10]:
# minimum of each column
cars.min()

Unnamed: 0    AMC Javelin
mpg                  10.4
cyl                     4
disp                 71.1
hp                     52
drat                 2.76
wt                  1.513
qsec                 14.5
vs                      0
am                      0
gear                    3
carb                    1
dtype: object

In [11]:
# maximum of each column
cars.max()

Unnamed: 0    Volvo 142E
mpg                 33.9
cyl                    8
disp                 472
hp                   335
drat                4.93
wt                 5.424
qsec                22.9
vs                     1
am                     1
gear                   5
carb                   8
dtype: object

In [12]:
# number of non-null values in each column
cars.count()

Unnamed: 0    32
mpg           32
cyl           32
disp          32
hp            32
drat          32
wt            32
qsec          32
vs            32
am            32
gear          32
carb          32
dtype: int64

In [13]:
cars.describe()

,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

## Cleaning

#### 1. Fill in null values with mean values -> fillna()

In [14]:
print(cars.qsec)

cars.qsec = cars.qsec.fillna(cars.qsec.mean())
cars.qsec

0     16.46
1     17.02
2     18.61
3     19.44
4     17.02
5     20.22
6     15.84
7     20.00
8     22.90
9     18.30
10    18.90
11    17.40
12    17.60
13    18.00
14    17.98
15    17.82
16    17.42
17    19.47
18    18.52
19    19.90
20    20.01
21    16.87
22    17.30
23    15.41
24    17.05
25    18.90
26    16.70
27    16.90
28    14.50
29    15.50
30    14.60
31    18.60
Name: qsec, dtype: float64

0     16.46
1     17.02
2     18.61
3     19.44
4     17.02
5     20.22
6     15.84
7     20.00
8     22.90
9     18.30
10    18.90
11    17.40
12    17.60
13    18.00
14    17.98
15    17.82
16    17.42
17    19.47
18    18.52
19    19.90
20    20.01
21    16.87
22    17.30
23    15.41
24    17.05
25    18.90
26    16.70
27    16.90
28    14.50
29    15.50
30    14.60
31    18.60
Name: qsec, dtype: float64

#### 2.remove unwanted columns

In [15]:
cars = cars.drop(columns=['wt'], axis=1)
cars.head()

          Unnamed: 0   mpg  cyl   disp   hp  drat   qsec  vs  am  gear  carb
0          Mazda RX4  21.0    6  160.0  110  3.90  16.46   0   1     4     4
1      Mazda RX4 Wag  21.0    6  160.0  110  3.90  17.02   0   1     4     4
2         Datsun 710  22.8    4  108.0   93  3.85  18.61   1   1     4     1
3     Hornet 4 Drive  21.4    6  258.0  110  3.08  19.44   1   0     3     1
4  Hornet Sportabout  18.7    8  360.0  175  3.15  17.02   0   0     3     2

#### 3. Find correlation matrix

In [16]:
cars[['mpg', 'cyl', 'disp', 'hp']].corr()

# mpg not showing because it is in string format

           cyl      disp        hp
cyl   1.000000  0.902033  0.832447
disp  0.902033  1.000000  0.790949
hp    0.832447  0.790949  1.000000

In [17]:
cars.mpg = cars.mpg.astype(float)
cars[['mpg', 'cyl', 'disp', 'hp']].corr()

           mpg       cyl      disp        hp
mpg   1.000000 -0.852162 -0.847551 -0.776168
cyl  -0.852162  1.000000  0.902033  0.832447
disp -0.847551  0.902033  1.000000  0.790949
hp   -0.776168  0.832447  0.790949  1.000000

## Manipulation

### 1. Indexing by position

In [18]:
# view hp column only
cars.iloc[:, 4]

0     110
1     110
2      93
3     110
4     175
5     105
6     245
7      62
8      95
9     123
10    123
11    180
12    180
13    180
14    205
15    215
16    230
17     66
18     52
19     65
20     97
21    150
22    150
23    245
24    175
25     66
26     91
27    113
28    264
29    175
30    335
31    109
Name: hp, dtype: int64

In [19]:
# another example
cars.iloc[:6,4:]

    hp  drat   qsec  vs  am  gear  carb
0  110  3.90  16.46   0   1     4     4
1  110  3.90  17.02   0   1     4     4
2   93  3.85  18.61   1   1     4     1
3  110  3.08  19.44   1   0     3     1
4  175  3.15  17.02   0   0     3     2
5  105  2.76  20.22   1   0     3     1

#### 2. Slicing by label

In [20]:
cars.loc[:7, 'mpg']

0    21.0
1    21.0
2    22.8
3    21.4
4    18.7
5    18.1
6    14.3
7    24.4
Name: mpg, dtype: float64

In [21]:
cars.loc[:10, 'mpg':'qsec']

     mpg  cyl   disp   hp  drat   qsec
0   21.0    6  160.0  110  3.90  16.46
1   21.0    6  160.0  110  3.90  17.02
2   22.8    4  108.0   93  3.85  18.61
3   21.4    6  258.0  110  3.08  19.44
4   18.7    8  360.0  175  3.15  17.02
5   18.1    6  225.0  105  2.76  20.22
6   14.3    8  360.0  245  3.21  15.84
7   24.4    4  146.7   62  3.69  20.00
8   22.8    4  140.8   95  3.92  22.90
9   19.2    6  167.6  123  3.92  18.30
10  17.8    6  167.6  123  3.92  18.90

#### 3. Changing column values

changing entire column values to 1

In [22]:
cars['am'] = 1
cars.loc[:10,'am']

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
Name: am, dtype: int64

double up using lambda functions

In [23]:
f = lambda x: x*2
cars['am'] = cars['am'].apply(f)
cars.loc[:10, 'am']

0     2
1     2
2     2
3     2
4     2
5     2
6     2
7     2
8     2
9     2
10    2
Name: am, dtype: int64

## Sorting
 - by -> column name
 - ascending -> True/False

In [24]:
cars.sort_values(by='cyl', ascending=True)

,Unnamed: 0,mpg,cyl,disp,hp,drat,qsec,vs,am,gear,carb
31,Volvo 142E,21.4,4,121.0,109,4.11,18.60,1,2,4,2
2,Datsun 710,22.8,4,108.0,93,3.85,18.61,1,2,4,1
27,Lotus Europa,30.4,4,95.1,113,3.77,16.90,1,2,5,2
26,Porsche 914-2,26.0,4,120.3,91,4.43,16.70,0,2,5,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,18.90,1,2,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,20.01,1,2,3,1
7,Merc 240D,24.4,4,146.7,62,3.69,20.00,1,2,4,2
8,Merc 230,22.8,4,140.8,95,3.92,22.90,1,2,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,19.90,1,2,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,18.52,1,2,4,2
17,Fiat 128,32.4,4,78.7,66,4.08,19.47,1,2,4,1
29,Ferrari Dino,19.7,6,145.0,175,3.62,15.50,0,2,5,6
0,Mazda RX4,21.0,6,160.0,110,3.90,16.46,0,2,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,17.02,0,2,4,4
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,19.44,1,2,3,1
10,Merc 280C,17.8,6,167.6,123,3.92,18.90,1,2,4,4
9,Merc 280,19.2,6,167.6,123,3.92,18.30,1,2,4,4
5,Valiant,18.1,6,225.0,105,2.76,20.22,1,2,3,1
13,Merc 450SLC,15.2,8,275.8,180,3.07,18.00,0,2,3,3
28,Ford Pantera L,15.8,8,351.0,264,4.22,14.50,0,2,5,4
4,Hornet Sportabout,18.7,8,360.0,175,3.15,17.02,0,2,3,2
24,Pontiac Firebird,19.2,8,400.0,175,3.08,17.05,0,2,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,15.41,0,2,3,4
22,AMC Javelin,15.2,8,304.0,150,3.15,17.30,0,2,3,2
21,Dodge Challenger,15.5,8,318.0,150,2.76,16.87,0,2,3,2
6,Duster 360,14.3,8,360.0,245,3.21,15.84,0,2,3,4
11,Merc 450SE,16.4,8,275.8,180,3.07,17.40,0,2,3,3
16,Chrysler Imperial,14.7,8,440.0,230,3.23,17.42,0,2,3,4
30,Maserati Bora,15.0,8,301.0,335,3.54,14.60,0,2,5,8
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,17.98,0,2,3,4
12,Merc 450SL,17.3,8,275.8,180,3.07,17.60,0,2,3,3
15,Lincoln Continental,10.4,8,460.0,215,3.00,17.82,0,2,3,4

## Filtering

1. create a filter
2. apply the filter

In [25]:
filter_constraint = cars['cyl'] > 6
filter_constraint.head()

0    False
1    False
2    False
3    False
4     True
Name: cyl, dtype: bool

In [26]:
filtered_cars = cars[filter_constraint]
filtered_cars.head()

           Unnamed: 0   mpg  cyl   disp   hp  drat   qsec  vs  am  gear  carb
4   Hornet Sportabout  18.7    8  360.0  175  3.15  17.02   0   2     3     2
6          Duster 360  14.3    8  360.0  245  3.21  15.84   0   2     3     4
11         Merc 450SE  16.4    8  275.8  180  3.07  17.40   0   2     3     3
12         Merc 450SL  17.3    8  275.8  180  3.07  17.60   0   2     3     3
13        Merc 450SLC  15.2    8  275.8  180  3.07  18.00   0   2     3     3

In [27]:
filter_constraint_2 = (cars['cyl'] > 6) & (cars['disp'] > 300)
filtered_cars_2 = cars[]

SyntaxError: invalid syntax (<ipython-input-27-2388945362ec>, line 2)

## Note:

NumPy, Pandas objects support vectorized calculations. That is, they let you perform the same operations 
on multiple pieces of data. 

**filter_constraint = (cars['cyl'] > 6) & (cars['disp'] > 300)**

We cannot use ***and*** instead of ***&*** here because NumPy arrays (of length > 1) 
have no truth value as this prevents vector-based logic confusion.

filter_constraint is simply a vectorized bit and operation.

**Bottom Line**

If you are not dealing with arrays and are not performing 
math manipulations of integers, you probably want *and*

If you have vectors of truth values that you wish to combine, 
use *numpy* with *&*

Further info: 
https://stackoverflow.com/a/22653528/10582056