In [24]:
import pandas as pd
import numpy as np

# DataFrame

### What is a DataFrame

2-D labelled data structures with columns of potentially 
different types

### Features of a DataFrame

1. Different column types
2. Mutable size
3. Labelled axes
4. Arithmetic operations on rows and columns

In [10]:
data1 = [[1,2,3],[4,[9,10],6],[7,8]]
df1 = pd.DataFrame(data1)
df1

   0        1    2
0  1        2  3.0
1  4  [9, 10]  6.0
2  7        8  NaN

### Note:
Dictionary indices are assigned to column names

Since we are providing columns -> the values in columns 
must be equal in size and cannot be null

In [11]:
data2 = dict({
    'a': [1,4,7],
    'b': [2, [9, 10], 8],
    'c': [3, 6, None]
})
df2 = pd.DataFrame(data2)
df2

   a        b    c
0  1        2  3.0
1  4  [9, 10]  6.0
2  7        8  NaN

In [13]:
data3 = dict({
    'fruit': ['apple', 'mango', 'banana'],
    'count': [10, 12, 13]
})
df3 = pd.DataFrame(data3)
df3

    fruit  count
0   apple     10
1   mango     12
2  banana     13

### Create DataFrae from Series object and np.array

Generate a Series object and pass *array-form* of that 
into a Dataframe object

In [23]:
series_data = pd.Series([1,2,3], index=['a', 'b', 'c'])
df4 = pd.DataFrame([series_data])
df4

   a  b  c
0  1  2  3

Generate an np.nd_array object and pass specific columns 
as *dictionary* into DataFrame.

In [39]:
array_data = np.array([['a', 'b'],[6, 12]])
print(array_data)

df5 = pd.DataFrame({
    'A': array_data[:,0],
    'B': array_data[:,1]
})
df5

[['a' 'b']
 ['6' '12']]

   A   B
0  a   b
1  6  12

### Renaming rows and columns in DataFrame

In [53]:
data = [1,2]
df6 = pd.DataFrame(data)
print(df6)

print('-------------------')

df6.rename(index={0: 'a', 1:'b'}, inplace=True)
print(df6)

print('--------------------')

# or omit index part
df6.rename(index=str, columns={0:'A'}, inplace=True)
df6

   0
0  1
1  2
-------------------
   0
a  1
b  2
--------------------

   A
a  1
b  2