In [90]:
import pandas as pd
import numpy as np

# Merge, Join and Concatenate

### Types of Merge and Join

1. Inner Merge, Inner Join
2. Right Merge, Right Join
3. Left Merge, Left Join
4. Outer Merge, Outer Join

### Concat

Concat joins an array of DataFrame objects without 
losing data

In [91]:
df1 = pd.DataFrame({
    'A': [1,2,3],
    'B': [2,3,4]
})
print(df1)

df2 = pd.DataFrame({
    'A': [3,4,5],
    'C': [1,9,10]
})
print(df2)

   A  B
0  1  2
1  2  3
2  3  4
   A   C
0  3   1
1  4   9
2  5  10

### Outer join

axis -> default -> 0

join -> default -> 'outer'

In [92]:
pd.concat([df1, df2])

   A    B     C
0  1  2.0   NaN
1  2  3.0   NaN
2  3  4.0   NaN
0  3  NaN   1.0
1  4  NaN   9.0
2  5  NaN  10.0

In [93]:
pd.concat([df1, df2], axis=1)

   A  B  A   C
0  1  2  3   1
1  2  3  4   9
2  3  4  5  10

### Axis in Data Frame
0 -> Rows / index
1 -> Columns

https://railsware.com/blog/python-for-machine-learning-pandas-axis-explained/

### Inner join

In [94]:
pd.concat([df1, df2], join='inner')

   A
0  1
1  2
2  3
0  3
1  4
2  5

In [95]:
pd.concat([df1, df2], axis=1, join='inner')

   A  B  A   C
0  1  2  3   1
1  2  3  4   9
2  3  4  5  10

### Merge

performs an actual SQL like inner join on data sets

on -> merge using which column ex: 'A'
- if single key: on='A' 
- if multiple keys: on=['A', 'B', ...]

how
 - default -> 'inner'
 - others -> 'right', 'left', 'outer'
 
 https://stackoverflow.com/questions/53645882/pandas-merging-101

In [96]:
pd.merge(df1, df2, on='A')

   A  B  C
0  3  4  1

In [97]:
pd.merge(df1, df2, on='A', how='right')

   A    B   C
0  3  4.0   1
1  4  NaN   9
2  5  NaN  10

In [98]:
pd.merge(df1, df2, on='A', how='left')

   A  B    C
0  1  2  NaN
1  2  3  NaN
2  3  4  1.0

In [101]:
pd.merge(df1, df2, on='A', how='outer')

   A    B     C
0  1  2.0   NaN
1  2  3.0   NaN
2  3  4.0   1.0
3  4  NaN   9.0
4  5  NaN  10.0